<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="clr"
    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
  <conversionRule conversionWord="wex"
    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
  <conversionRule conversionWord="wEx"
    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>>%d{yyyy-MM-dd HH:mm:ss.SSS} [%green(%level),%cyan(${PID:- }),%blue(%t),%X{x-request-id:-_rid}] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg%n%rEx{full}
      </pattern>
    </encoder>
  </appender>

  <logger name="ru.vekovshinin.client" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="${app.log-level:-INFO}">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
